.c-btn {
  display: inline-block;
  text-align: center;
  .u-btn {
    display: inline-block;
    text-decoration: none;
    width: 125px;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
    line-height: 40px;
    color: white;
    outline: none;
    &.blue {
      background-color: #00A9FF !important;
    }
    &.gray {
      background-color: #1a1a1a !important;
    }
  }
}