.c-footer {
  background-color: black;
  padding: 40px 80px 0 80px;
  .m-group1 {
    width: 150px;
  }
  .m-group2 {
    width: 300px;
  }
  .m-group3 {
    width: 250px;
  }
  .g-row {
    padding: 0 0 20px 0;
  }
  .active {
    color: white !important;
  }
}