.c-system {
  height: 100%;
  width: 100%;
}
.u-system {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  padding: 5px 8px 5px 5px;
  color: black;
}
.c-charts {
  width: 100%;
  height: 100%;
}