.c-host {
  width: 100%;
  height: 100%;
  color: white;
}
.m-table {
  margin: auto;
  width: 90%;
  overflow: scroll;
  .u-thead {
    border-bottom: 1px solid white;
    th {
      font-size: 12px;
    }
  }
  .u-tbody {
    text-align: center;
    tr {
      border-top: 1px solid white;
      font-size: 12px;
      line-height: 24px;
      &:hover {
        background: #292b38;
      }
    }
  }
  .id {
    width: 5%;
  }
  .ip {
    width: 30%;
  }
  .province {
    width: 20%;
  }
  .time {
    width: 25%;
  }
  .type {
    width: 20%;
  }
}